@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fira Code', monospace;
}

#footer-cursor {
    animation: cursor-pulse 1000ms infinite steps(2);
}

@keyframes cursor-pulse {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}